* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background: none;
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Raleway";
  font-weight: 300;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
}

button {
  border: none;
}

.container {
  max-width: calc(1140px + 20px);
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #252525;
}

.header {
  width: 100vw;
}
.header__mobile {
  display: none;
}
.header__container {
  padding: 0;
  position: relative;
  height: 80px;
}
.header__nav {
  top: 24px;
  position: fixed;
  z-index: 10;
  width: 1160px;
  display: grid;
  grid-template-columns: 1fr 160px 1fr;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 104px;
}
.nav-left__list {
  display: flex;
  gap: 24px;
}
.nav-left__link {
  font-size: 18px;
  color: #252525;
  transition: 0.2s;
}
.nav-left__link:hover {
  color: #E0BEA2;
}

.logo {
  display: inline-block;
  width: 160px;
  height: 40px;
  background-image: url(../img/logo-main.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.burger {
  display: flex;
  align-items: center;
  width: 34px;
  height: 24px;
  cursor: pointer;
  z-index: 11;
}
.burger__icon {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 3px;
  background-color: #E0BEA2;
  z-index: 9;
}
.burger__icon::before {
  position: absolute;
  content: "";
  top: -9px;
  left: 0;
  width: 32px;
  height: 3px;
  background-color: #E0BEA2;
  transition: 0.2s;
}
.burger__icon::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 0;
  width: 16px;
  height: 3px;
  background-color: #E0BEA2;
  transition: 0.2s;
}

.burger-body {
  position: absolute;
  bottom: -45px;
  width: 100%;
  height: 85px;
  background-color: #fff;
  opacity: 0;
  z-index: -1;
  transition: 0.2s;
}

.nav-right {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 72px;
}
.nav-right__pop {
  display: flex;
  align-items: center;
  gap: 28px;
}
.nav-right__pop--item {
  position: relative;
  z-index: 11;
}
.nav-right__pop--item button {
  color: #252525;
  cursor: pointer;
}
.nav-right__pop--item::before {
  position: absolute;
  top: 8px;
  right: -19px;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #252525;
  transform: rotate(-45deg);
}
.nav-right__pop--item::after {
  position: absolute;
  top: 8px;
  right: -14px;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #252525;
  transform: rotate(45deg);
}
.nav-right__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-right__item {
  font-size: 25px;
  color: #E0BEA2;
  transition: 0.2s;
}
.nav-right__item:hover {
  color: #E0BEA2;
}

.pop-body {
  position: absolute;
  padding: 10px;
  bottom: -80px;
  width: 80px;
  left: -40px;
  background-color: #fff;
  opacity: 0;
  transition: 0.2s;
  visibility: hidden;
}
.pop-body__item {
  color: #252525;
  padding: 5px 0;
  cursor: pointer;
}

.pop-two-body {
  position: absolute;
  padding: 10px;
  bottom: -40px;
  width: 80px;
  left: -40px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}
.pop-two-body__item {
  color: #252525;
  padding: 5px 0;
  cursor: pointer;
}

.mon .pop-two-body {
  position: absolute;
  padding: 10px;
  bottom: -80px;
  width: 80px;
  left: -40px;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}
.mon .pop-two-body__item {
  color: #252525;
  padding: 5px 0;
  cursor: pointer;
}
.mon .nav-right__pop--mon::before {
  position: absolute;
  top: 8px;
  right: -19px;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #252525;
  transform: rotate(45deg);
}
.mon .nav-right__pop--mon::after {
  position: absolute;
  top: 8px;
  right: -14px;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #252525;
  transform: rotate(-45deg);
}

.lang .nav-right__pop--lang::before {
  position: absolute;
  top: 8px;
  right: -19px;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #252525;
  transform: rotate(45deg);
}
.lang .nav-right__pop--lang::after {
  position: absolute;
  top: 8px;
  right: -14px;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #252525;
  transform: rotate(-45deg);
}
.lang .pop-body {
  bottom: -110px;
  opacity: 1;
  visibility: visible;
}

.burger-active .burger__icon {
  background-color: transparent;
}
.burger-active .burger__icon::before {
  top: 0px;
  width: 32px;
  background-color: #E0BEA2;
  transform: rotate(45deg);
}
.burger-active .burger__icon::after {
  top: 0px;
  width: 32px;
  height: 3px;
  background-color: #E0BEA2;
  transform: rotate(-45deg);
}
.burger-active .burger-body {
  position: absolute;
  padding: 0 30px;
  bottom: -105px;
  width: 100%;
  height: 85px;
  background-color: #fff;
  opacity: 1;
  transition: 0.2s;
  z-index: 15;
}
.burger-active .burger-body__line {
  height: inherit;
  display: flex;
  align-items: center;
  gap: 25px;
}
.burger-active .burger-body__list {
  padding: 10px 0;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 18px;
  color: #252525;
}

.header-fixed .header__nav {
  padding: 20px 0;
  top: 0;
  z-index: 10;
  background-color: #fff;
}
.header-fixed .burger {
  z-index: 11;
}
.header-fixed .burger__icon {
  z-index: 9;
  background-color: #E0BEA2;
}
.header-fixed .burger__icon::before {
  background-color: #E0BEA2;
}
.header-fixed .burger__icon::after {
  background-color: #E0BEA2;
}
.header-fixed .logo {
  background-image: url(../img/logo-main.svg);
}
.header-fixed .nav-left__link {
  color: #252525;
}
.header-fixed .nav-left__link:hover {
  color: #E0BEA2;
}
.header-fixed .nav-right__pop--item {
  color: #252525;
}
.header-fixed .nav-right__pop--item::before {
  background-color: #252525;
}
.header-fixed .nav-right__pop--item::after {
  background-color: #252525;
}
.header-fixed .nav-right__pop--item button {
  color: #252525;
}
.header-fixed .nav-right__item {
  color: #E0BEA2;
}
.header-fixed .nav-right__item:hover {
  color: #252525;
}

.header-fixed.burger-active .burger__icon {
  background-color: transparent;
}

.list-link {
  width: 100%;
}
.list-link__body {
  display: flex;
  gap: 28px;
}
.list-link__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}
.list-link__item--arrow {
  position: relative;
}
.list-link__item--arrow::before {
  position: absolute;
  content: "";
  top: 9px;
  right: -16px;
  width: 6px;
  height: 1px;
  background-color: #E0BEA2;
  transform: rotate(45deg);
}
.list-link__item--arrow::after {
  position: absolute;
  content: "";
  top: 12px;
  right: -16px;
  width: 6px;
  height: 1px;
  background-color: #E0BEA2;
  transform: rotate(-45deg);
}

.delivery {
  width: 100%;
}
.delivery__title {
  margin-top: 30px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}
.delivery__sub-title {
  margin-top: 20px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}
.delivery__body {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  gap: 77px;
  counter-reset: numbers;
}

.delivery-info {
  display: flex;
  justify-content: space-between;
}
.delivery-info__list {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #252525;
}
.delivery-info__list--title {
  margin-top: 20px;
}
.delivery-info__list--item {
  margin-bottom: 5px;
}

.delivery-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
}
.delivery-item::before {
  position: absolute;
  counter-increment: numbers;
  content: "0" counter(numbers);
  top: 45%;
  transform: translateY(-50%);
  left: 2px;
  width: 10px;
  height: 10px;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
}
.delivery-item__img {
  width: 45px;
}
.delivery-item__txt {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #252525;
}

.footer {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 40px;
  display: flex;
  align-items: flex-end;
}

.footer-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-list__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #252525;
}

.footer-menu {
  margin-top: 15px;
}
.footer-menu__link {
  padding: 5px 0;
  display: inline-block;
  font-family: "Raleway";
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  color: #252525;
}
.footer-menu__icon {
  margin-right: 12px;
  font-size: 19px;
  color: #E0BEA2;
  cursor: pointer;
}

@media (max-width: 1190px) {
  .header__nav {
    left: 10px;
    width: calc(100% - 20px);
  }
  .nav-left {
    gap: 50px;
  }
  .nav-right {
    gap: 50px;
  }
}
@media (max-width: 900px) {
  .header__nav {
    grid-template-columns: 1fr 140px 1fr;
  }
  .logo {
    display: inline-block;
    width: 140px;
  }
  .nav-left {
    gap: 30px;
  }
  .nav-right {
    gap: 40px;
  }
  .nav-right__list {
    gap: 20px;
  }
}
@media (max-width: 795px) {
  .header {
    background-image: url(../img/main-bg-mobile.jpg);
  }
  .header__container {
    display: none;
  }
  .header__mobile {
    display: block;
    background-color: #868686;
  }
  .modal-mob {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    top: -100vh;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 63px);
    background-color: #fff;
    transition: 0.2s;
  }
  .modal-mob__one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .modal-mob__two {
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;
  }
  .mob-active .modal-mob {
    top: 63px;
  }
  .mob-active .burger__icon {
    background: transparent;
  }
  .mob-active .burger__icon::before {
    top: 0px;
    width: 32px;
    background-color: #E0BEA2;
    transform: rotate(45deg);
  }
  .mob-active .burger__icon::after {
    top: 0px;
    width: 32px;
    height: 3px;
    background-color: #E0BEA2;
    transform: rotate(-45deg);
  }
  .modal-form {
    padding: 10px 20px;
    width: 260px;
    height: 40px;
    border: 0.3px solid #252525;
    border-radius: 50px;
    display: flex;
  }
  .modal-form__input {
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 300;
    font-size: 16px;
    color: #252525;
  }
  .modal-form__bnt {
    width: 20px;
    font-size: 20px;
  }
  .modal-cash {
    position: relative;
    padding-right: 10px;
  }
  .modal-cash::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 1px;
    background-color: #252525;
    top: 9px;
    right: 0;
    transform: rotate(45deg);
    transition: 0.2s;
  }
  .modal-cash::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 1px;
    background-color: #252525;
    top: 9px;
    right: -5px;
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  .modal-cash__modal {
    padding: 10px 10px 10px 7px;
    position: absolute;
    left: -5px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
  .modal-cash__modal--item {
    padding: 4px 0;
  }
  .active-cash .modal-cash::before {
    transform: rotate(-45deg);
  }
  .active-cash .modal-cash::after {
    transform: rotate(45deg);
  }
  .active-cash .modal-cash__modal {
    opacity: 1;
    visibility: visible;
  }
  .modal-list {
    border-top: 0.3px solid #252525;
  }
  .modal-list__item {
    display: block;
    padding: 20px 0;
    text-align: center;
    border-bottom: 0.3px solid #252525;
  }
  .modal-list__item--icon {
    font-size: 20px;
    color: #E0BEA2;
  }
  .header-modile {
    position: fixed;
    width: 100%;
    z-index: 15;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    align-items: center;
    transition: 0.2s;
  }
  .header-modile__left {
    display: flex;
    gap: 25px;
    align-items: center;
  }
  .header-modile__lang {
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
  }
  .header-modile__lang::before {
    position: absolute;
    content: "";
    top: 8px;
    right: -10px;
    width: 8px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    transition: 0.2s;
  }
  .header-modile__lang::after {
    position: absolute;
    content: "";
    top: 8px;
    right: -15px;
    width: 8px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  .header-modile__logo {
    width: 80px;
    height: 20px;
    background-image: url(../img/mobile-logo.svg);
    background-size: cover;
  }
  .header-modile__list {
    display: flex;
    justify-content: right;
    gap: 20px;
  }
  .header-modile__link {
    color: #fff;
    font-size: 20px;
  }
  .mobile-lang {
    position: absolute;
    width: 50px;
    bottom: -60px;
    left: -10px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }
  .mobile-lang__item {
    padding: 5px 8px;
    color: #252525;
  }
  .active-lang .mobile-lang {
    opacity: 1;
    visibility: visible;
  }
  .active-lang .header-modile__lang::before {
    transform: rotate(-45deg);
  }
  .active-lang .header-modile__lang::after {
    transform: rotate(45deg);
  }
  .modal-footer {
    margin-top: 78px;
  }
  .modal-footer__icon {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .modal-footer__link {
    margin-top: 5px;
    display: block;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-align: center;
    color: #252525;
  }
  .modal-icon {
    color: #E0BEA2;
    font-size: 20px;
  }
  .header-fixed .header-modile {
    background-color: #868686;
  }
}
@media (max-width: 1150px) {
  .delivery-info {
    flex-wrap: wrap;
  }
  .delivery__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 795px) {
  .delivery {
    margin-top: 80px;
  }
}
@media (max-width: 795px) {
  .footer {
    margin-top: 40px;
  }
  .footer-list {
    display: block;
    margin: 0 auto;
    max-width: 335px;
    text-align: center;
  }
  .footer-list__item {
    margin-top: 20px;
  }
  .footer-list__i-title {
    margin-top: 20px;
  }
  .footer-list__title {
    position: relative;
    border-bottom: 0.3px solid #252525;
  }
  .footer-list__title::before {
    position: absolute;
    content: "";
    top: 8px;
    right: 10px;
    width: 8px;
    height: 2px;
    background-color: #E0BEA2;
    transform: rotate(-45deg);
    transition: 0.2s;
  }
  .footer-list__title::after {
    position: absolute;
    content: "";
    top: 8px;
    right: 14px;
    width: 8px;
    height: 2px;
    background-color: #E0BEA2;
    transform: rotate(45deg);
    transition: 0.2s;
  }
  .footer-list__title--contact {
    border-bottom: none;
  }
  .footer-menu {
    transition: 0.2s;
  }
  .active-footer .footer-list__title::before {
    transform: rotate(45deg);
  }
  .active-footer .footer-list__title::after {
    transform: rotate(-45deg);
  }
  .active-footer .footer-menu {
    display: block;
  }
  .footer-menu {
    display: none;
  }
  .footer-menu__contact {
    display: block;
  }
}